[Desktop Entry]
Type=Application
Name=FreeRec
Comment=Audio recorder and song player
Icon=audio-x-generic
Exec=freerec
Categories=AudioVideo;Audio;Player;Recorder;Music;GTK
StartupNotify=true
