#!/bin/sh
set -e
. /usr/share/debconf/confmodule

if [ -e "/usr/share/freerec/songs/001.mp3" ]; then
  # Songs already copied.
  exit 0
fi

db_get freerec/local-songs-dir
if [ -z "$RET" ]; then
  db_reset freerec/local-songs-dir
fi

while true; do
  db_input high freerec/local-songs-dir || true
  db_go || true
  db_get freerec/local-songs-dir
  if [ -z "$RET" ]; then
    break
  fi
  if [ -e "$RET/001.mp3" ]; then
    break
  fi
  db_text high freerec/local-songs-dir-not-found || true
done

# vim:set et sw=2 sts=2:
